// Here you can add other styles
.c-header.c-header-fixed {
    background: #3c4b64;
    color: white;
}

.card-header {
    background: #3c4b64;
    color: white;
}

#sidebar {
    background: rgb(224, 135, 1) !important;
}

.c-sidebar-nav-item:hover {
    background: rgb(177, 101, 1) !important;
}

.c-sidebar-nav-link:hover {
    background: rgb(177, 101, 1) !important;
}